@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5%;
}

.heading-1, .heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 7.11rem;
}

.heading-1--dark {
  color: black;
}

.heading-1--light {
  color: white;
}

.heading-2 {
  font-size: 4.8rem;
}

.heading-2--dark {
  color: black;
}

.heading-2--light {
  color: white;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/desktop/image-hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0;
}

.header .hamburger {
  height: 100%;
  display: none;
}

.header__title {
  border: 1px solid white;
  max-width: 65.5rem;
  margin-top: 13.4rem;
  padding: 4rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  position: relative;
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.5rem;
  width: 100%;
  height: 0.2rem;
  background-color: white;
  display: block;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.nav__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem;
}

.about__img {
  width: 100%;
  height: 100%;
  display: block;
}

.about__details {
  max-width: 60rem;
  margin: 18.3rem 0 0 -16.2rem;
  padding: 9.6rem 0 0 9.6rem;
  background-color: white;
}

.about__history {
  color: #8c8c8c;
  margin-top: 2rem;
  line-height: 1.5;
}
/*# sourceMappingURL=main.css.map */