@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 1.5rem;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 5%;
}

.heading-1, .heading-2, .heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 7.11rem;
}

.heading-1--dark {
  color: black;
}

.heading-1--light {
  color: white;
}

.heading-2 {
  font-size: 4.8rem;
}

.heading-2--dark {
  color: black;
}

.heading-2--light {
  color: white;
}

.heading-3 {
  font-size: 3rem;
}

.btn {
  font-family: "Alata", sans-serif;
  font-weight: 300;
  height: 4.2rem;
  width: 15.9rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #8c8c8c;
  border-radius: .5rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-bottom: .3rem;
}

.btn:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url(../../images/desktop/image-hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 0;
}

.header .hamburger {
  height: 100%;
  display: none;
}

.header__title {
  border: 1px solid white;
  max-width: 65.5rem;
  margin-top: 13.4rem;
  padding: 4rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  position: relative;
}

.nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.8rem;
  width: 100%;
  height: 0.2rem;
  background-color: white;
  display: block;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.nav__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__item:not(:last-child) {
  margin-right: 3rem;
}

.nav__link {
  text-decoration: none;
  color: white;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10rem;
}

.about__img {
  width: 100%;
  height: 100%;
  display: block;
}

.about__details {
  max-width: 60rem;
  margin: 18.3rem 0 0 -16.2rem;
  padding: 9.6rem 0 0 9.6rem;
  background-color: white;
}

.about__history {
  color: #8c8c8c;
  margin-top: 2rem;
  line-height: 1.5;
}

.creations {
  margin: 10rem;
}

.creations__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.creations__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 3rem;
}

.creations__gallery > div {
  height: 45rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 3rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.creations__gallery > div:hover, .creations__gallery > div:focus {
  opacity: 0.5;
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.creations .creations__item-1, .creations .creations__item-2, .creations .creations__item-3, .creations .creations__item-4, .creations .creations__item-5, .creations .creations__item-6, .creations .creations__item-7, .creations .creations__item-8 {
  background-size: cover;
}

.creations__item-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-deep-earth.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-deep-earth.jpg);
}

.creations__item-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-night-arcade.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-night-arcade.jpg);
}

.creations__item-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-soccer-team.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-soccer-team.jpg);
}

.creations__item-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-grid.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-grid.jpg);
}

.creations__item-5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-from-above.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-from-above.jpg);
}

.creations__item-6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-pocket-borealis.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-pocket-borealis.jpg);
}

.creations__item-7 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-curiosity.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-curiosity.jpg);
}

.creations__item-8 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.3))), url(../../images/desktop/image-fisheye.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url(../../images/desktop/image-fisheye.jpg);
}

.footer {
  background-color: black;
  padding: 6rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__list {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list :not(:last-child) {
  margin-right: 2rem;
}

.footer__item {
  position: relative;
}

.footer__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.8rem;
  width: 100%;
  height: 0.2rem;
  background-color: white;
  display: block;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.footer__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer__link {
  text-decoration: none;
  color: white;
}

.social__list {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social__list :not(:last-child) {
  margin-right: 2rem;
}

.social__item {
  display: block;
  position: relative;
}

.social__item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 2.8rem;
  width: 100%;
  height: 0.2rem;
  background-color: white;
  display: block;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

.social__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.social__link {
  text-decoration: none;
}

.copyright {
  color: #8c8c8c;
}

.attribution {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */