.footer {
  background-color: $clrBlack;
  padding: 6rem 10rem;
  display: flex;
  justify-content: space-between;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }

  &__list {
    margin-top: 2rem;
    display: flex;

    :not(:last-child) {
      margin-right: 2rem;
    }

    @include respond(phone) {
      flex-direction: column;
      text-align: center;
      margin: 2rem;
    }
  }

  &__item {
    position: relative;
    @include underlineAnimation;

    @include respond(phone) {
      margin: 2rem;
      font-size: 2rem;

      &::after {
        top: 3.8rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $clrWhite;
  }
}

.social {
  &__list {
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    :not(:last-child) {
      margin-right: 2rem;
    }
    @include respond(phone) {
      margin: 2rem 0;
      justify-content: center;
    }
  }

  &__item {
    display: block;
    position: relative;

    @include underlineAnimation;

    @include respond(phone) {
      display: flex;
      justify-content: center;

      &::after {
        top: 3.8rem;
      }
    }
  }

  &__link {
    text-decoration: none;
  }
}

.copyright {
  color: $clrDarkGray;

  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.attribution {
  text-align: center;
}
