%heading {
  font-family: $heading-font;
  font-weight: 300;
  text-transform: uppercase;
}

.heading-1 {
  font-size: 7.11rem;
  @extend %heading;

  &--dark {
    color: $clrBlack;
  }
  &--light {
    color: $clrWhite;
  }
}

.heading-2 {
  font-size: 4.8rem;
  @extend %heading;

  &--dark {
    color: $clrBlack;
  }
  &--light {
    color: $clrWhite;
  }
}

.heading-3 {
  font-size: 3rem;
  @extend %heading;
}
